<div class="container wall-bg">
    <div class="row post-heading">
        <div class="col-md-4"></div>
        <div class="col-md-4">Create Post</div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class = "col-md-3"></div>
        <div class="col-md-6 post-bg">
            <form [formGroup]="postform" (ngSubmit)="postdetails()" novalidate>
            <div class="form-group" hidden>
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email" required/>
            </div>
            <div class="form-group" hidden>
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" required/>
            </div> 
            <div class="form-group" formGroupName = "posts">
                <div formArrayName = "postimage">
                    <div class = "form-group">
                        <button class="btn btn-success add-link" (click) = "addImageLink()">Click To Add More Image Link</button>
                        <div *ngFor = "let image of postform.get('posts').get('postimage').value; let i=index">
                            <label> Image Link:  </label>
                            <div>
                                <input class = "form-control" type="text" [formControlName] = "i">
                            </div>
                        </div>
                    </div>
                </div>
                <div>  
                    <label>Post-Content</label>
                    <input type="string" class="form-control" formControlName="postcontent" required/>
                </div>
                <div>  
                    <label>Domain</label>
                    <select class="form-control" formControlName="domain" required>
                        <option value="" selected>----Please Select One----</option>
                        <option *ngFor="let k of domains"
                        [value]="k">{{k}}</option>
                    </select>
                </div>
            </div> 
            <div class="form-group" hidden>
                <label>Age</label>
                <input type="number" class="form-control" formControlName="age" required/>
            </div> 
            <div class="form-group" hidden>
                <label>Gender</label>
                <input type = "text" class="form-control" formControlName="gender" required/>
            </div> 
            
            
            <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
  </div>