<div class="container wall-bg">
  <div class="row post-heading">
    Welcome {{this.sessionName}} To The World Of Talent
  </div>
  <div class="row post-bg">
    <div class="col-md-4"></div>
    <div class= "col-md-4 ">
      <button class="home-main-button btn" [routerLink] = "['/post/createpost']"  >Create Post</button>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row post-bg">
    <div class="col-md-4"></div>
    <div class= "col-md-4 ">
      <button class="home-main-button btn" [routerLink] = "['/all/domain']" >Domains</button>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row post-bg">
    <div class="col-md-4"></div>
    <div class= "col-md-4 ">
      <button class="home-main-button btn" [routerLink] = "['/user/dashboard']">Dashboard</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>