<div class="container wall-bg">
    <div class="row post-heading">
        <div class="col-md-4"></div>
        <div class="col-md-4">Available Domains</div>
        <div class="col-md-4"></div>
    </div>

    <div class="post-bg">
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Photography']">Photography</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Fashion Designing']">Fashion Designing</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Dancing']">Dancing</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Modeling']">Modeling</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Singing']">Singing</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Technology']">Technology</button>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Cooking']">Cooking</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Business']">Business</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Engineering']">Engineering</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Acting']">Acting</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Painting']">Painting</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row down-btn-tag">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn domain-button" [routerLink]="['/domain/Others']">Others</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>