<div class="container">
    
    <div>
        <h1>Dashboard</h1>
        <div *ngFor ="let data of DashboardData" class="row wall-bg post-single">
            <div class = "col-md-3"></div>
            <div class= "col-md-6 post-bg">
                <div class = "post-up">
                    <div class = "post-name">
                        {{data.name}}
                    </div>
                    <div class = "post-age-gender">
                    Age: {{data.age}} | Gender: {{data.gender}}
                    </div>
                </div>
                <div class = "post-content">
                    <div>
                        {{data.posts.postcontent}}
                    </div>
                    <div *ngFor = "let img of data.posts.postimage" class="post-image">
                        <!--<iframe width="100%" height="20%" [src] = "img.imageurl | safe">-->
                        <img [src]="img | safe" class = "img-fluid">
                        
                    </div>
                    <div class = "post-down">
                        <button class="btn btn-primary upvote-button">Edit Post</button>
                        <button class="btn btn-primary upvote-button">Delete Post</button>
                    </div>
                </div>   
            </div>
            <div class = "col-md-3"></div>
        </div> 
    </div>   
</div>